.answers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.arrow-button {
    background-color: red;
}

.error-expand {
    color: red;
    text-align: center;
    font-size: larger;
}

.error-expand h5 {
    margin: 0;
}