<div class="container">
    @if (questionsForShow()){
    <div class="filters-container">
        <tui-input-number
            tuiTextfieldSize="s"
            [formControl]="inputQuestionNumber"
            (input)="setQuestionNumber()"
            >Перейти к вопросу
        </tui-input-number>
        <p>Вопрос: {{currentNum+1}} из {{allQuestionsData.length}}</p>
    </div>

    <h3>{{questionsForShow()?.question}}</h3>
    <tui-expand class="error-expand" [expanded]="showErrorExpand()">
        <h5>Неправильно!</h5>
        <p>{{questionsForShow()?.description}}</p>
    </tui-expand>
    <tui-expand class="correct-expand" [expanded]="showCorrectExpand()">
        <h5>Правильно!</h5>
    </tui-expand>
    <div class="answers">
        <tui-radio-labeled [formControl]="userAnswer" size="m" item="a">
            a: {{questionsForShow()?.answers?.a}}
        </tui-radio-labeled>
        <tui-radio-labeled [formControl]="userAnswer" size="m" item="b">
            b: {{questionsForShow()?.answers?.b}}
        </tui-radio-labeled>
        <tui-radio-labeled [formControl]="userAnswer" size="m" item="c">
            c: {{questionsForShow()?.answers?.c}}
        </tui-radio-labeled>
    </div>

    <div class="buttons-container">
        <div class="arrow-buttons-container">
            <button
                [disabled]="currentNum <= 0"
                appearance="flat"
                icon="tuiIconArrowLeft"
                tuiButton
                size="s"
                type="button"
                (click)="showQuestionByNumber(currentNum-1)"
            >
                Назад
            </button>

            <button
                [disabled]="currentNum === allQuestionsData.length - 1"
                appearance="flat"
                iconRight="tuiIconArrowRight"
                tuiButton
                size="s"
                type="button"
                (click)="showQuestionByNumber(currentNum+1)"
            >
                Далее
            </button>
        </div>

        <button
            size="m"
            appearance="accent"
            [disabled]="userAnswer.status === 'DISABLED'"
            tuiButton
            (click)="showResult((questionsForShow()?.correctAnswer??''), currentNum)"
        >
            Ответ
        </button>
    </div>
    <div class="footer-buttons">
        <button
            (click)=" resetDataQuestions()"
            appearance="outline"
            size="s"
            tuiButton
        >
            Заново
        </button>
        <button appearance="outline" size="s" routerLink="/" tuiButton>
            Главное меню
        </button>
    </div>

    }
</div>
